<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MonteFit">


        <activity
            android:name=".PantallaPrincipal"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".PantallaRegistro"
            android:exported="false" />

        <activity android:name=".PantallaInicial" android:exported="false"/>
        <activity android:name=".PantallaEntrenar" android:exported="false"/>
        <activity android:name=".PantallaComida" android:exported="false"/>
        <activity android:name=".PantallaPerfil" android:exported="false"/>
        <activity android:name=".PantallaDetalleEntrenamiento" android:exported="false"/>
        <activity android:name=".PantallaLogros" android:exported="false"/>
        <activity android:name=".PantallaSocial" android:exported="false"/>

    </application>

</manifest>








